{% extends '@layout/default.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <br><br><br><br><br><br><br><br>
    <div style="min-height: 300px">
        <form method="post" action="/registerhandler/">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="email" name="email" placeholder="email">
            <input type="phone" name="phone" placeholder="phone">

            <input type="submit" value="Login">
        </form>
    </div>
{% endblock %}
