{% extends '@layout/default.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}

    <br><br><br><br><br>
    <img src="https://www.lzcncmachine.com/data/upload/20191118/5dd24d4c48dfa.jpg" width="1800px" height="200px">
    <div class="row">
        <div class="col-md4">
            <br><br><br>
            <h1>ABOUT US</h1>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTH1KJbkj2ZaYQQYjgLVsQ_dhObfWjQSfJFwEQGzj6pJwYajStNK6KexL_eKToDGjIjWwI&usqp=CAU"
                 height="400px" width="400px">
        </div>
        <div class="col-md-4">
            <br><br><br><br><br>
            <p>Welcome to ARTBEN For more than 24 years we have been offering customer-specific solutions in the areas
                of: industrial metal processing / data processing and power generation. Since 1999, ARTBEN has been
                preparing expert opinions for the valuation of mobile assets and the recycling of complete operating
                facilities worldwide. ARTBEN employees have profound knowledge of various industries and their secondary
                markets. Thanks to their extensive experience, the ARTBEN team is able to respond to each of your
                requests with a customized solution.
            </p>
            <h3 style="color: greenyellow">Heavy metal history</h3>
            <p>For 24 years, Artben Handels GbR has specialized in solutions for trading CNC devices and data and energy
                equipment. Known for high professional competence and first-class customer service. With passion we
                bring high quality and the best possible service drives us.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md4">
            <br><br>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7CF9p3qqj7udg8_i4FNEeeWBkNx7zd3iJ7JtzH1fz295odkQ0XAE783lbbn3j1ZcY7Uw&usqp=CAU">
        </div>
        <div class="col-md-2">
            <br><br>
            <h2>ARTBEN Mission</h2>
            <p>Excellent solutions for our customers, of course before and after our service.</p>
        </div>
        <div class="col-md-4">
            <br><br>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRye5NLYhO0uMj_RX_fT25BLT5_hozr2SNlTGKOtH4EF_do5Du4etPqzIDjLWmNUYZxG7c&usqp=CAU">
        </div>
        <div class="col-md-2">
            <br><br>
            <h2>ARTBEN VISION</h2>
            <p>ARTBEN is your ''ONE STOP SHOP" for all industrial manufacturing needs. Let's surpass your expectations
                together.</p>
        </div>
    </div>
    <br><br><br><br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>Get to know our team</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <img src="https://img.freepik.com/free-photo/young-bearded-man-with-striped-shirt_273609-5677.jpg"
                 width="300px" height="300px">
            <h2>Ali Bageri</h2>
            <span style="color: greenyellow">ceo $ backender</span>
            <p>Ali Bageri, one of the co-founders, brings more than 20 years of industrial equipment experience..</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKul40B2uQ5-K2-VK34JFSSnZ2g_eSWjPaHCsA1ARGstRT5DjVMbUshIw2_hSwOONuINU&usqp=CAU"
                 width="300px" height="300px">
            <h2>Mohammad Zamani</h2>
            <span style="color: greenyellow">hp $ backender</span>
            <p>Mohammad Zamani, one of our co-founders, has over 15 years of experience buying...</p>
        </div>
    </div>
{% endblock %}
